/*general*/
    body{
    font-family: "Raleway",sans-serif;
    margin-left: 50px;
    margin-top: 40px;
    }
    h1{
    font-size: 20px;
    margin-bottom: 5px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    p{
    margin-top: 6px;
    font-size: 14px;
    }

/*header*/
    .logo{
    margin-left: 12px;
    margin-bottom: 22px;
    height:40px;
    }
    nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }
    .menu{
    display: flex; 
    list-style: none;
    font-size:14px;
    }
    .lienav{
    text-decoration-line: none;
    color: black;
    margin-right: 50px;
     
    }
    .lienav:hover{
    border-top: 2px solid #0065FC ;
    color:#0065FC;
    padding-top: 50px;
    }

/*barre de recherche*/
    .barrederecherche{
    display:flex;
    flex-direction: row; 
    margin-bottom: 15px;
    }
    .zonetxt{
    font-weight: bold;
    padding: 15px;
    border:#F2F2F2 solid 1px;
    
    }
    .iconegps{
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 15px;
    }
    .buttonrecherche{
    background-color: #0065FC;
    color:white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    border:#0065FC;
    padding:15px;
    font-weight: bold;
    }
    .iconeloupe{
        display:none;
    }


/*filtre*/
    .filtre{
    display:flex;
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 10px;
    }
    .titre{
    font-weight:bold;
    font-size: 16px;
    margin: auto;
    }
    .unitebutton{
    display: flex;
    flex-grow:3;
    }
    .buttonfiltre{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    border:2px #F2F2F2 solid;
    background-color: white;
    cursor: pointer;
    margin:10px;
    }
    .buttonfiltre:hover{
        background-color:#0065FC;
    }
    .nomfiltre{
        padding-left: 10px;
        padding-right: 10px;
    }
    .iconefiltre{
    background-color: #deebff;
    border-radius: 30px;
    padding: 15px;
    color: #0065FC;
    }
   
/*élement info "+ de 500 logements ... */
    .iconeinfo{
    height: 25px;
    position: relative;
    top:7px;
    }

/*Card "Hébergements à Marseille*/
    .heberg{
    background-color: #F2F2F2;
    }
    .card{
    width: 200px;
    height: 15px;
    Border: solid 4px white;
    border-radius: 15px;
    }
    .card-img{
    height: 100px;
    position: relative;
    overflow: hidden;
    }
    .card-img img{
    width: 100%;
    position: absolute;
    }

/* media queries */

@media (min-width:769px) and (max-width:992px)
{   
    body{width:auto;}
}

@media all and (max-width:768px)
{   body{
    margin-left:20px;
    margin-right: 20px;
    }
    H1{
    font-size: 150%;
    }
    .logo {
        width:100px;
        height:45px;
        margin: auto;
    }
    nav{
        display: flex;
        flex-direction: column;
    }  
    nav li{
        display:flex;
        justify-content: center;
    }
    .lienav{
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #F2F2F2; 
    }
    .lienav:hover{
    border-top:none; 
    border-bottom:2px solid #0065FC;
    padding-top: 0px;
    }
    p{
        font-size: 15px;
    }
    .barrederecherche{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .recherche{
        display:none;
    }
    .iconeloupe{
        display:inline
    }
    .buttonrecherche{
        border-radius: 15px;
        padding:17px;
    }
    .iconegps{
        padding: 20px;
    }
    .zonetxt{
        padding-right:30px;
    }
    .filtre{
        display:flex;
        flex-direction:column;
    }
    .titre{
        margin-left:0px;
    }
    .unitebutton{
        display: flex;
        flex-wrap: wrap;
    }
}

